.breweryName {
    text-align: left;
    font-size: 60px;
    font-weight: 300;
    background-color: #d8541d;
    width: fit-content;
    color: white;
    padding: 0 8px 8px;
    display: block;
    line-height: 50px;
}

.breweryName:hover {
    opacity: 0.8;
}

.breweryLink {
    text-align: left;
    margin: 8px 0 8px 8px;
    font-size: 32px;
    display: block;
    width: fit-content;
}


.breweryLink:hover {
    text-decoration: underline;
}

.breweryImage {
    display: block;
    text-align: left;
    height: 150px;
}