.beerInfo {
    margin: 0 0 32px 0;
    min-height: 600px;
}

.beerInfoTitle {
    margin: -32px 0 0 0;
    font-size: 116px;
}

@media only screen and (max-width: 1023px) {
    .beerInfoTitle {
        margin: -16px 0 0 0;
        font-size: 60px;
    }
}

.beerDescription{
    text-align: left;
    margin: 16px 16px 16px 8px;
}

@media only screen and (max-width: 1023px) {
    .beerDescription {
        max-height: 138px;
        overflow: scroll;
    }
}