.beerName{
    font-size: 34px;
    margin: 0;
    text-align: left;
    font-weight: 200;
    width: 95%;
}

.beerSubtitle{
    font-size: 20px;
    margin: 8px 8px 8px 2px;
    text-align: left;
    padding: 8px;
    background-color: black;
    width: max-content;
    color: white;
    font-weight: 300;
}

.organic {
    height: 40px;
    width: 40px;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}