.beerName{
    font-size: 24px;
    margin: 0;
    text-align: left;
}

.beerSubtitle{
    font-size: 16px;
    margin: 0 0 16px;
    text-align: left;
    padding: 8px 8px 8px 16px;
    background-color: black;
    width: max-content;
    color: white;
}

.organic {
    height: 40px;
    width: 40px;
    display: block;
    text-align: left;
    margin-bottom: 8px;
}