.header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: right;
}

.headerTitle {
    font-size: 64px;
    line-height: 55px;
    color: white;
    font-weight: 100;
}