.container{
    margin: 32px 0;
    min-height: 600px;
}

.beerList {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    padding: 16px;
}

@media only screen and (max-width: 600px) {
    .beerList {
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
  }

.beerItem {
    margin-bottom: 40px;
}

.beerItem:hover {
    opacity: 0.7;
}

.beerImage{
    height: 140px;
    float: left;
    padding-left: 4px;
}